# Data Transformation Notebok

Process raw dataset using helper modules.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Initiaing repo modules
from pathlib import Path
import sys

repo_root = Path.cwd().parent.resolve() 
sys.path.insert(0, str(repo_root))

## Importing dataset

In [3]:
df = pd.read_csv('../ews/data/dataset/draft_1_cp_2.csv', sep=',')
df_pattern = pd.read_csv('../ews/data/dataset/sequence_mining_output.csv', sep=',')

print("Datases loaded successfully.")

Datases loaded successfully.

In [4]:
print(df.info())
print('\n')
print(df_pattern.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 13 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   fisherman_age                    247 non-null    int64
 1   fisherman_experience_years       247 non-null    int64
 2   province                         247 non-null    object
 3   coast_name                       247 non-null    object
 4   role                             247 non-null    object
 5   boat_type                        247 non-null    object
 6   detected_disaster_type           247 non-null    object
 7   life_threatening_disaster_count  247 non-null    int64
 8   natural_signs_used               247 non-null    object
 9   how_often_used_signs             247 non-null    float64
 10  disaster_percentage              247 non-null    float64
 11  action_after_sign                247 non-null    object
 12  how_long_used_signs_years        247 non-null    int64
dtypes: float64(2), int64(4), object(7)
memory usage: 25.2+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   support        78 non-null     int64
 1   pattern        78 non-null     object
 2   support_ratio  78 non-null     float64
 3   mean_prob      78 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.6+ KB
None

In [5]:
print(f"Shape of mai dataset: {df.shape}")
print(f"Shape of pattern dataset: {df_pattern.shape}")

Shape of mai dataset: (247, 13)
Shape of pattern dataset: (78, 4)

In [6]:
from ews.spm.pattern_filter import filter_patterns

filtered_patterns = filter_patterns(df_pattern, min_average_prob=80, prob_column='mean_prob')

print(f"{df_pattern.shape[0] - filtered_patterns.shape[0]} patterns filtered out. ")

12 patterns filtered out.

## Combine pattern into data

Check for pattern in main data and match with filtered patterns

In [7]:
from ews.spm.combine_pattern_to_data import combine_pattern_to_data

df_combined = combine_pattern_to_data(df, filtered_patterns, pattern_column='pattern', sequence_column='natural_signs_used')

print(f"Shape of combined dataset: {df_combined.shape}")

Shape of combined dataset: (247, 79)

Save the combined dataframe

In [8]:
df_combined.to_csv("../ews/data/dataset/draft_1_cp_3.csv")

In [9]:
filtered_patterns.head()

   support          pattern  support_ratio  mean_prob
0        5        Wn-3,Wn-8       0.020243      100.0
1        2   Wn-3,Wn-8,Wn-9       0.008097      100.0
2        2  Wn-3,Wn-8,Wn-11       0.008097      100.0
3        2        Wn-3,Wn-9       0.008097      100.0
4        3       Wn-3,Wn-11       0.012146      100.0

In [10]:
df.head()

,fisherman_age,fisherman_experience_years,province,coast_name,role,boat_type,detected_disaster_type,life_threatening_disaster_count,natural_signs_used,how_often_used_signs,...,has_Wn-2_Wn-8,has_Wn-2_Wn-10,has_Wn-2_Wn-7,has_Wn-2_Wn-7_Wn-14,has_Wn-2_Wn-14,has_Wn-5_Wn-8,has_Ts-6_Ts-7,has_Wn-12_Wn-16,has_Wn-12_Wn-15,has_Wn-13_Wn-16
0,23,3,Aceh,Pantai Lampuuk,Anak Buah Kapal (ABK),Perahu motor tempel,B.2 Angin Kencang,2,"Wn-3, Wn-4",3.5,...,0,0,0,0,0,0,0,0,0,0
1,40,10,Aceh,Pantai Lampuuk,Anak Buah Kapal (ABK),Perahu motor tempel,B.2 Angin Kencang,2,"Wn-1, Wn-4, Wn-9",18.0,...,0,0,0,0,0,0,0,0,0,0
2,52,25,Aceh,Pantai Lampuuk,Tekong/Nahkoda,Perahu motor tempel,B.2 Angin Kencang,5,"Wn-1, Wn-4, Wn-7, Wn-10",18.0,...,0,0,0,0,0,0,0,0,0,0
3,52,25,Aceh,Pantai Lampuuk,Tekong/Nahkoda,Perahu motor tempel,B.3 Gelombang Ekstrim,8,Wv-2,18.0,...,0,0,0,0,0,0,0,0,0,0
4,49,26,Aceh,Pantai Lampuuk,Tekong/Nahkoda,Perahu motor tempel,B.1 Tsunami,1,"Ts-1, Ts-2, Ts-3, Ts-5",30.0,...,0,0,0,0,0,0,0,0,0,0